.contenedor{    
   
    
}
body{
    background: linear-gradient(to left, aqua, yellow, blueviolet 80%);    
}
.main h1{
color: blueviolet;
text-shadow: 1px 1px 5px rgb(57, 56, 56), 0 0 22px red;
font-size: xx-large;
border-radius: 20px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main h2{    
        text-align: center;
        font-weight: bolder;
        color: blueviolet;
}
.main input{
background-color:rgb(216, 72, 72);
}
.image{
    display: flex;;
    justify-content: center;
    align-items: center;
    margin: 0,5,0,5; 
    transition: transform 0.3s ease; 
    /*perspective: 500px;/*para que cuando se pase el mouse se vea un efecto 3d*/  
}
#ImagenTienda{
border: 10px ridge;
box-shadow: 3px 3px 15px 25px rgb(0, 0, 0, .5);

}
#ImagenTienda:hover{
    transform: rotate(30deg) ;
}
#slogan{
    text-align: center;
    color: brown; 
    font-weight: bold;
}
.parrafo1{  
    margin-right: 150px;  
    background-color: burlywood;
    height: 200px;
    width: 300px;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;
    border: 20px solid blueviolet;
    border-image: url('/imagenes/marco.png');
    border-image-slice: 25%; 
    border-image-repeat: round;
    border-image-outset: 30px;
    text-align: justify;
}
.parrafo2{
    margin-left: 150px;
    background-color: burlywood;
    background-clip: content-box;
    border: 5px solid blueviolet;
    height: 200px;
    width: 200px;
    border-radius: 15px 0px 15px 0px;
    padding: 10px;    
    text-align: justify;
    transition: all 1s;
}
.parrafo2:hover{
width: 300px;
}
.productos{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10%;
}
@keyframes disapear {
    
   
    100% {
        opacity: 1%;
        
    }
}
@keyframes moveCart {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(70vw);
    }    
}

#carritocompras{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 8vw; /* Ancho del carrito */    
    position: sticky ;
    /*transform: translateX(100vw);*/
    animation: moveCart 3s ease-in-out forwards; /* Nombre de la animación, duración, repetición, etc. */
    
}
#carritocompras:hover{
transform: rotateY(125deg);
}
#frutas{
    width: 10vw;    
    animation: disapear 2s  forwards ;
}
#carne{
    width: 10vw;
    animation: disapear 3s  forwards;    
}
#lacteos{
    width: 13vw;
    animation: disapear 4s  forwards;
}
.Iconos{
    display: flex;
    justify-content: center;    
    align-items: center; 
    gap:2%; 
}

